html,body{width: 100%;height: 100%;}
html{overflow:hidden;}
body{font-size: 12px;margin:0;overflow:auto;*position:relative;}
p{margin:0;}

.fl{float: left;}
.posr{position: relative;}
.mg5{margin:5px;}
.mt1{margin-top:5px;}
.height300{height: 300px;}
.wh100{height:100%;width: 100%;}

.page{position: relative;min-width: 500px;min-height: 400px;height: 100%;}
.west{position: absolute;top: 0;left: 0;bottom: 0;width: 189px;border-right: 1px solid #d2d2d2;padding: 5px;}
.center{position: absolute;top: 0;left: 200px;right: 0;bottom: 0;}

.zone{border:1px solid #d2d2d2;margin: 2px;}
.demo{width: 800px;height:500px;position: relative;margin:5px auto;border:1px solid #d2d2d2;background-color: #fff}
.demo-title{font-size: 20px;font-weight: bolder;height: 30px;line-height: 30px;border-bottom:1px solid #d2d2d2;}
.demo-content{position: absolute;top:31px;left:0;right: 150px;bottom: 0;}
.demo-oper{position:absolute;top: 31px;right: 0;bottom: 0;width: 149px;border-left: 1px solid #d2d2d2}
.demo-oper button{display: block;}