.tree,.tree ul{list-style: none;margin: 0;padding: 0}
.tree ul{margin-left:16px;}
.tree-bg{background-image: url(img/tree_icons.png);background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
.tree-expanded,
.tree-collapsed,
.tree-checkbox{
  width: 16px;
  height: 18px;
  cursor: pointer;
}
.tree-expanded {background-position: -18px 0px;}
.tree-expanded:hover {background-position: -50px 0px;}
.tree-collapsed{background-position: 0 0;}
.tree-collapsed:hover{background-position: -32px 0;}
.tree .tree-icon-loading{background:url(img/loading.gif) no-repeat center center;}
.tree-title{vertical-align: middle;}
