.tree,.tree ul{list-style: none;margin: 0;padding: 0}
.tree ul li{padding-left:16px;}
.tree-line ul li{background:url(img/tree_line_conn.png) repeat-y 0 -1px;}
.tree-bg{background-image: url(img/tree_icons.png);background-repeat: no-repeat;}
.tree-expanded,
.tree-collapsed,
.tree-indent,
.tree-checkbox{width: 16px;height: 18px;display: inline-block;vertical-align: middle;}
.tree-node>span{display: inline-block;padding-right: 2px;}
.tree-node>span:hover{background-color: #e2e2e2;cursor: pointer;}
.tree-expanded {background-position: -18px 0px;}
.tree-folder {background-position:-208px 0;}
.tree-folder-open {background-position:-224px 0;}
.tree-file {background-position:-240px 0;}
.tree-expanded:hover {background-position: -50px 0px;}
.tree-collapsed{background-position: 0 0;}
.tree-collapsed:hover{background-position: -32px 0;}
.tree-line .tree-expanded {background-position: -144px 0;}
.tree-line .tree-expanded:hover {background-position: -144px 0;}
.tree-line .tree-collapsed{background-position: -128px 0;}
.tree-line .tree-collapsed:hover{background-position: -128px 0;}
.tree-line .tree-node-last>span .tree-expanded {background-position: -80px 0;}
.tree-line .tree-node-last>span .tree-expanded:hover{background-position: -80px 0;}
.tree-line .tree-node-last>span .tree-collapsed{background-position: -64px 0;}
.tree-line .tree-node-last>span .tree-collapsed:hover{background-position: -64px 0;}
.tree-line .tree-node-last>ul>li{background:none;}
.tree-join {background-position:-192px 0;}
.tree-joinbottom {background-position:-160px 0;}

.tree .tree-icon-loading{background:url(img/loading.gif) no-repeat center center;}
.tree-title{vertical-align: middle;}
